aiofiles
altair
annotated-types
anyio
asgiref
asttokens
attrs
backcall
blinker
cachetools
cattrs
certifi
charset-normalizer
chembl-webresource-client
click
colorama
contourpy
cycler
debugpy
decorator
Django
dnspython
easydict
email_validator
entrypoints
exceptiongroup
executi
fastapi-cli
ffmpy
filelock
Flask
Flask-Cors
fonttools
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
gradio
gradio_client
grpcio
grpcio-status
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
idna
importlib_resources
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonify
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
nest-asyncio
numpy
orjson
packaging
padelpy
pandas
parso
pickleshare
pillow
platformdirs
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
pydub
Pygments
pymongo
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
pyzmq
rdkit
rdkit-pypi
referencing
requests
requests-cache
rich
rpds-py
rsa
ruff
scikit-learn
scipy
semantic-version
shellingham
six
smmap
sniffio
sqlparse
stack-data
starlette
tenacity
threadpoolctl
toml
tomlkit
toolz
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
uritemplate
url-normalize
urllib3
uvicorn
watchdog
watchfiles
wcwidth
websockets
Werkzeug
